/* Define o body como um contêiner flex */
body {
    margin: 0;
    height: 100vh; /* Altura total da janela */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2rem;
}